watch_file .tool-versions

source_up

asdf_has poetry || asdf plugin-add poetry
asdf_has python || asdf plugin-add python
asdf install | sed '/is already installed/d'
use asdf

# Create a separate virtual environment for poetry
# using the locally configured version of python.
# This overrides python environment from the top level.
unset VIRTUAL_ENV

layout poetry
