watch_file .tool-versions

asdf_has editorconfig-checker || asdf plugin-add editorconfig-checker
asdf_has python || asdf plugin-add python
asdf_has shellcheck || asdf plugin-add shellcheck
asdf_has shfmt || asdf plugin-add shfmt
asdf install | sed '/is already installed/d'
use asdf

layout python-venv

use pipx
has pre-commit \
  || pipx install 'pre-commit>=2.17.0'
has detect-secrets \
  || pipx install 'detect-secrets>=1.2.0'
has nitpick \
  || pipx install 'nitpick>=0.32.0'

use pre-commit
